<div>
    <h2 id="page-heading">
        <span>Doencas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-doenca" [routerLink]="['/doenca/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Doenca
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="doencas">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Nome</span></th>
            <th><span>Tipo</span></th>
            <th><span>Sintoma</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let doenca of doencas ;trackBy: trackId">
                <td><a [routerLink]="['/doenca', doenca.id, 'view' ]">{{doenca.id}}</a></td>
                <td>{{doenca.nome}}</td>
                <td>{{doenca.tipo}}</td>
                <td>
                    <span *ngFor="let sintoma of doenca.sintomas; let last = last">
                            <a class="form-control-static" [routerLink]="['../sintoma', sintoma?.id, 'view' ]">{{sintoma.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/doenca', doenca.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/doenca', doenca.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'doenca/'+ doenca.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
