<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-remedio-heading">Create or edit a Remedio</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!remedio.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="remedio.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                        [(ngModel)]="remedio.nome" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_principoAtivo">Principo Ativo</label>
                    <input type="text" class="form-control" name="principoAtivo" id="field_principoAtivo"
                        [(ngModel)]="remedio.principoAtivo" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_concentracao">Concentracao</label>
                    <input type="number" class="form-control" name="concentracao" id="field_concentracao"
                        [(ngModel)]="remedio.concentracao" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
